/* Animations */
@keyframes onHover {
    0%   {
        background-color: red;
        left:0px;
        top:0px;
    }
    25%  {
        background-color: yellow;
        left:200px; 
        top:0px;
    }
    50%  {
        background-color: blue;
        left:200px;
        top:200px;
    }
    75%  {
        background-color: green;
        left:0px;
        top:200px;
    }
    100% {
        background-color: red;
        left:0px;top:0px;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        left: 250px;
        color: black;
    }
    50% {
        transform: rotate(-20deg);
        left: 10px;
        bottom: 0;
    }
    75% {
        left: -25rem;
        color: pink;
    }
    90% {
        transform: rotate(159deg);
        left: 100px;
    }
    95% {
        left: 115px;
        color: green;
    }
    100% {
        left: 110px;
        top: 10rem;
    }
}
@keyframes spinBig {
    0% {
        position: fixed;
        top: 0;
        font-size: 6rem;
        transform: rotate(0deg);
    }
    10% {
        top: 50%;
        left: 25%;
        font-size: 1rem;
        transform: rotate(720deg);
        background: none;
    }
    100% {
        top: 15%;
        left: inherit;
        font-size: 4rem;
        transform: rotate(-50deg);
        background: black;
    }
}
@keyframes wackoDacko {
    0% {
        font-size: 0.8rem;
        position: fixed;
        bottom: 10px;
        right: 10px;
        transform: skew(9deg);
    }
    40% {
        font-size: 1.1rem;
        bottom: 60px;
        right: 8.5rem;
        transform: skewY(10deg);
    }
    80% {
        font-size: 0.9rem;
        right: 50px;
        transform: skewY(40deg);
    }
    100% {
        font-size: 0.6rem;
        bottom: 120px;
        right: 50px;
        transform: skewX(40deg);
    }
}
@keyframes droppingHot {
    0% {
        font-size: 0.2rem;
        position: fixed;
        transform: rotate(0deg);
        top: -10%;
    }
    50% {
        font-size: 1.1rem;
        top: 50%;
        transform: rotate(180deg);
    }
    100% {
        font-size: 1.6rem;
        top: 110%;
        transform: rotate(-60deg);
    }
}
/* HTML Resets & Default Styles */
body, html {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: sans-serif;
}
body {
    background: floralwhite;
    overflow-x: hidden;
    /* animation: 20s changeBG infinite; */
}
span {
    position: relative;
    background: none;
    float: left;
    color: black;
}
span:hover {
    background: black;
    color: white;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    animation: 2s onHover infinite;
}
/* Set up the juiciest random
 * span animations, regardless
 * of class */
span:nth-child(15n+0) {
    z-index: -1;
}
span:nth-child(6n+9) {
    z-index: 4;
}
/* Custom CSS Styles for Classes */
.layer-1 {
    z-index: 1;
}
.layer-2 {
    z-index: 2;
}
/* Custom Hover & Animation States */
/* (This list is maintained in the javascript) */
.atep:hover {
    color: limegreen;
    font-family: monospace;
    background: white;
    position: relative;
    font-size: 6rem;
    animation: 2s spin infinite;
}
.munbar:hover {
    background: white;
    color: white;
    font-size: 2.4rem;
    animation: 6s droppingHot infinite;
}
.flattel:hover {
    border-radius: 50% 5px 10%;
    background: purple;
    color: yellow;
    font-size: 18rem;
    animation: 2s spin infinite;
}
.narlal:hover {
    border: 1rem black dashed;
    color: black;
    background: royalblue;
    font-size: 3rem;
}
.krandiss:hover {
    box-shadow: 50px 50px black;
    border: 15px grey double;
    border-radius: 10px 4px 90%;
    color: black;
    background: black;
    position: absolute;
    top: 2rem;
    right: 0;
    animation: 1s spinBig infinite;
}
.yonlis {
    animation: 21s onHover alternate infinite;
}
.lobar:hover {
    color: silver;
    background: seashell;
    animation: 1s spinBig infinite;
    position: fixed;
    width: 12vw;
    height: 10vh;
    z-index: 2;
    top: 0;
    left: 0;
}
.pingbo {
    animation: 1s changeBG alternate infinite;
}
.gandar:hover {
    position: fixed;
    background: blue;
    color: royalblue;
    z-index: 2;
    font-size: 16rem;
    top: 0;
    left: 25%;
    margin: 0 auto;
    width: 100vw;
    animation: 1s spinBig infinite;
}